{% extends 'base.html.twig' %}

{% block body %}
    <h2>Popular Arrivals</h2>

    {% if products|length > 0 %}
        {% for product in products %}
            <h4>{{ product.title }}</h4>
            <div>{{ product.category }}</div>
            <div>{{ product.price }}</div>
            <div>{{ product.image }}</div>
        {% endfor %}
    {% endif %}

    <h2>Latest Blog</h2>

    {% if blogs|length > 0 %}
        {% for blog in blogs %}
            <h4>{{ blog.title }}</h4>
            <div>{{ blog.description }}</div>
            <div>{{ blog.image }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
